html {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}
html,
body {
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
}
p,
span,
th,
td {
  font-weight: 500;
}
